.cardContainer{
    width: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    position: relative;
    box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
    
}

.horizontal-line{

    position: absolute;
    border: 0.5px solid black;
    width: 80%;
    top: 203px;
    right: 24px;
    
}

.cardHeader img {
    background-color: white;
    border-radius: 50%;
    width: 180px;
    margin-top: 0.5rem;
    box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}

#grass{
    background-color: greenyellow;
}

#fire{
    background-color: brown;
}

#water, #ice{
    background-color: aquamarine;
}

#bug{
    background-color: yellow;
}

#normal {
    background-color: gray;
}

#poison{
    background-color: purple;
}

#electric{
    background-color: orange;
}

#ground{
    background-color: brown;
}

#fairy{
    background-color: palevioletred;
}

#fighting{
    background-color: goldenrod;
}

#ghost{
    background-color: whitesmoke;
}

#rock {
    background-color: gainsboro;
}

#dragon{
    background-color: rgb(243, 84, 84);
}

#psychic{
    background-color: silver;
}
.cardDescription{
    display: grid;
    text-align: center;
    gap: 8px;
}

.cardDescription{
    font-size: 18px;
}

a {
    padding: 2rem;
    color: red;
}